:root {
  --main-background-color: #ffffff;
  --main-text-color: #000000;
  --secondary-text-color: #ff6b08;
  --modal-secondary-text-color: #8c8c8c;

  --header-background-layout: rgba(0, 0, 0, 0.56);
  --backdrop-modal-color: rgba(0, 0, 0, 0.25);
  --modal-secondary-text-color: #8c8c8c;

  --btn-background-color: #ffffff;
  --btn-hover-background: #ff6b01;
  --btn-hover-box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  --btn-border-color: #ffffff;

  --footer-background-color: #f7f7f7;
  --footer-text-color: #545454;

  --dark-mode-body: #202020;
  --dark-mode-footer: #171009;
  --dark-mode-modal: rgb(90, 90, 90, 0.95);
}
