<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="film-modal__btn-close btn-close btn-close-team" type="button">
      <svg class="modal__svg" width="30" height="30">
        <symbol id="icon-close" viewBox="0 0 32 32">
          <path
            stroke-linejoin="miter"
            stroke-linecap="butt"
            stroke-miterlimit="4"
            stroke-width="2.1333"
            d="M8.533 8.533l14.933 14.933M8.533 23.467l14.933-14.933"
          ></path>
        </symbol>
        <use href="#icon-close"></use>
      </svg>
    </button>
    <h2 class="header-item">Наша команда</h2>
    <div class="team__swiper swiper">
      <ul class="team swiper-wrapper">
        <li class="list team__card swiper-slide">
          <picture>
            <img src="./images/team-photo/zozulyaYaroslav.jpg" alt="" class="team-img" width="115" />
          </picture>
          <div class="team__item">
            <h3 class="team__header">Ярослав Зозуля</h3>
            <p lang="en" class="team__profession">Team Lead</p>
            <ul class="social-list">
              <li class="list social-list__item">
                <a href="https://www.instagram.com/yaroslav_developer/" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="list social-list__item">
                <a href="#" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="list social-list__item">
                <a href="https://www.facebook.com/profile.php?id=100027672831462" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="list social-list__item">
                <a href="https://www.linkedin.com/in/yaroslav-zozulya-66b285222/" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <p class="member-description">
              Fetch API/
              Верстка контейнера для Home и My Library/
              Верстка футера/
              Поиск и отрисовка фильмов по ключевому слову/
              LazyLoad для галлереи/
              Пагинация/
              Рендер порции фильмов
            </p>
          </div>
        </li>
        <li class="list team__card swiper-slide">
          <picture>
            <img src="./images/team-photo/kyselovAndrii.jpg" alt="" class="team-img" width="115" />
          </picture>
          <div class="team__item">
            <h3 class="team__header">Андрей Киселёв</h3>
            <p lang="en" class="team__profession">Scrum Master</p>
            <ul class="social-list">
              <li class="list social-list__item">
                <a href="#" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="list social-list__item">
                <a href="#" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="list social-list__item">
                <a href="https://www.facebook.com/andrey.kiselyov.94" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="list social-list__item">
                <a href="https://www.linkedin.com/in/andrey-kiselyov-7b128a97/" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <p class="member-description">
              Рендер My Library/
              Рендер фильмов из локального хранилища Watched и Queue/
              Подготовка презенации на Prezi/
              Работа с Trello/
              Орг вопросы команды

          </div>
        </li>
        <li class="list team__card swiper-slide">
          <picture>
            <img src="./images/team-photo/anatskaAnna.jpg" alt="" class="team-img" width="115" />
          </picture>
          <div class="team__item">
            <h3 class="team__header">Aнна Анатская</h3>
            <p lang="en" class="team__profession">Developer</p>
            <ul class="social-list">
              <li class="list social-list__item">
                <a href="#" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="list social-list__item">
                <a href="#" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="list social-list__item">
                <a href="#" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="list social-list__item">
                <a href="https://www.linkedin.com/in/anna-anatska-057983186/" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <p class="member-description">
            Компонент Buttons/
            Slider/
            Пагинация

            </p>
          </div>
        </li>
        <li class="list team__card swiper-slide">
          <picture>
            <img src="./images/team-photo/novitskyAndrii.jpg" alt="" class="team-img" width="115" />
          </picture>
          <div class="team__item">
            <h3 class="team__header">Андрей Новицкий</h3>
            <p lang="en" class="team__profession">Developer</p>
            <ul class="social-list">
              <li class="list social-list__item">
                <a href="#" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="list social-list__item">
                <a href="#" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="list social-list__item">
                <a href="#" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="list social-list__item">
                <a href="https://www.linkedin.com/in/jokeravdeveloper/" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <p class="member-description">
            Работа с хранилищем Local Storage для кнопок Watched и Queue
            </p>
          </div>
        </li>
        <li class="list team__card swiper-slide">
          <picture>
            <img src="./images/team-photo/ratushniyAndrii.jpg" alt="Андрей Ратушный" class="team-img" width="115" />
          </picture>
          <div class="team__item">
            <h3 class="team__header">Андрей Ратушный</h3>
            <p lang="en" class="team__profession">Developer</p>
            <ul class="social-list">
              <li class="list social-list__item">
                <a href="https://instagram.com/andrei_ratushnyi?igshid=YmMyMTA2M2Y=" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="list social-list__item">
                <a href="https://twitter.com/Andrej58398623?t=OtyreoSA617rezWGTc3t0Q&s=09" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="list social-list__item">
                <a href="https://www.facebook.com/profile.php?id=100018350552448" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="list social-list__item">
                <a href="https://www.linkedin.com/in/andrey-ratushnyy-a8741122a" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <p class="member-description">
              Закрытие модалки по событию/
              Компонент "Кнопка к началу страницы"/
              Ф-нал смены тёмной и светлой темы

            </p>
          </div>
        </li>
        <li class="list team__card swiper-slide">
          <picture>
            <img src="./images/team-photo/grabinaEvgen.jpg" alt="" class="team-img" width="115" />
          </picture>
          <div class="team__item">
            <h3 class="team__header">Евгений Грабина</h3>
            <p lang="en" class="team__profession">Developer</p>
            <ul class="social-list">
              <li class="list social-list__item">
                <a href="https://instagram.com/hrabinaevgenii?r=nametag" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="list social-list__item">
                <a href="#" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="list social-list__item">
                <a href="https://www.facebook.com/profile.php?id=100011032020400" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="list social-list__item">
                <a href="https://www.linkedin.com/in/%D0%B6%D0%B5%D0%BD%D1%8F-%D0%B3%D1%80%D0%B0%D0%B1%D0%B8%D0%BD%D0%B0-360b4623a" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <p class="member-description">
              Рендер главной страницы/
              Header/
              Подключение шрифтов

            </p>
          </div>
        </li>
        <li class="list team__card swiper-slide">
          <picture>
            <img src="./images/team-photo/krosnikAlexandra.jpg" alt="" class="team-img" width="115" />
          </picture>
          <div class="team__item">
            <h3 class="team__header">Александра Кросник</h3>
            <p lang="en" class="team__profession">Developer</p>
            <ul class="social-list">
              <li class="list social-list__item">
                <a href="https://instagram.com/aleksandra_krosnik?igshid=YmMyMTA2M2Y=" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="list social-list__item">
                <a href="#" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="list social-list__item">
                <a href="https://www.facebook.com/aleksandra.krosnik.3" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="list social-list__item">
                <a href="https://www.linkedin.com/in/alexandra-krosnik-32084b221" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <p class="member-description">
              Подгрузка популярных на главную страницу/
              Модальное окно подгрузка инфо про фильм/
              Компонент фильтр

            </p>
          </div>
        </li>
        <li class="list team__card swiper-slide">
          <picture>
            <img src="./images/team-photo/kuzinaKseniya.jpg" alt="" class="team-img" width="115" />
          </picture>
          <div class="team__item">
            <h3 class="team__header">Ксения Кузина</h3>
            <p lang="en" class="team__profession">Developer</p>
            <ul class="social-list">
              <li class="list social-list__item">
                <a href="#" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="list social-list__item">
                <a href="#" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="list social-list__item">
                <a href="https://www.facebook.com/profile.php?id=100073214795191" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="list social-list__item">
                <a href="https://www.linkedin.com/in/kseniia-kuzina-06171718b" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <p class="member-description">
              Spinner/
              Верстка шаблона модалки одного фильма/
              Компонент фильтр

            </p>
          </div>
        </li>
        <li class="list team__card swiper-slide">
          <picture>
            <!-- <source srcset="../src/images/team-photo/dima-desc.webp 1x, ../src/images/team-photo/dima-desc@2x.webp 2x"
              type="image/webp" media="(min-width: 1280px)" />
            <source srcset="../src/images/team-photo/dima-desc.jpg 1x, ../src/images/team-photo/dima-desc@2x.jpg 2x"
              type="image/jpeg" media="(min-width: 1280px)" />
            
            <source srcset="../src/images/team-photo/dima-tabl.webp 1x, ../src/images/team-photo/dima-tabl@2x.webp 2x"
              type="image/webp" media="(min-width: 768px)" />
            <source srcset="../src/images/team-photo/dima-tabl.jpg 1x, ../src/images/team-photo/dima-tabl@2x.jpg 2x"
              type="image/jpeg" media="(min-width: 768px)" />
            
            <source srcset="../src/images/team-photo/dima.webp 1x, ../src/images/team-photo/dima@2x.webp 2x" type="image/webp"
              media="(max-width: 767px)" />
            <source srcset="../src/images/team-photo/dima.jpg 1x, ../src/images/team-photo/dima@2x.jpg 2x" type="image/jpeg"
              media="(max-width: 767px)" /> -->
            <img src="./images/team-photo/drygaMaria.jpg" alt="Мария Дрига" class="team-img" width="115" height="115" />
          </picture>
          <div class="team__item">
            <h3 class="team__header">Мария Дрига</h3>
            <p lang="en" class="team__profession">Developer</p>
            <ul class="social-list">
              <li class="list social-list__item">
                <a href="#" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="list social-list__item">
                <a href="#" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="list social-list__item">
                <a href="https://www.facebook.com/profile.php?id=100009320826884" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="list social-list__item">
                <a href="https://www.linkedin.com/in/mariia-dryha/?originalSubdomain=ua" class="social-list__link" target="_blank">
                  <svg class="social-list__icon" width="20" height="20">
                    <use href="./images/team-icons.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
            <p class="member-description">
              Верстка шаблона карточки одного фильма/
              Поиск и отрисовка фильмов по ключевому слову/
              Slider/
              Страница нашей команды верстка и функционал

            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="team__swiper-pagination swiper-pagination"></div>
  </div>
</div>
