.genres__dropdown {
  width: 630px;
  height: 112px;
  left: 0;
}

.genres__content {
  height: 100%;
}

.swiper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 16px 12px;
}

.btn-genre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.32);

  font-family: 'Roboto', sans-serif;
  font-weight: 500;

  color: #ffffff;
  background-color: #312b45;
  &--active,
  &:focus {
    background-color: #7e798f;
    border-color: #7e798f;
  }
}

.genre-icon {
  font-size: 32px !important;
  line-height: 1;
  margin: 0 !important;
  margin-bottom: 8px !important;
  pointer-events: none;
}

.swiper-pagination {
  bottom: 5px !important;
}
.swiper-pagination-bullet-active {
  background-color: #ffffff;
}
.swiper-button {
  &::after {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.72);
  }
}
.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}
