.footer-developed-by-img {
    animation: heartbeat .75s infinite;
}


@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1.25);
    }

    40% {
        transform: scale(1.5);
    }
}