body {
  background-color: var(--main-background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-body {
  background-color: var(--dark-mode-body);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.dark-footer {
  background-color: var(--dark-mode-footer);
  background-size: cover;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-modal {
  background-color: var(--dark-mode-modal);

  color: aliceblue;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.dark-modal-icon-close {
  stroke: var(--main-background-color);
}

.dark-modal-title {
  color: var(--main-background-color);
}

.dark-modal-property-name {
  color: var(--btn-hover-background);
}

.dark-modal-votes {
  color: black;
}

.dark-modal-button-white {
  color: white;
  border-color: var(--btn-hover-background);
}

.dark-mode-icon_style {
  fill: #ffffff;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-item.dark-modal-header-team {
  background-color: var(--dark-mode-body);
  color: var(--secondary-text-color);
}

.team__card.dark-modal-card-team {
  background-color: var(--dark-mode-modal);
}
.social-list__link.dark-modal-social-list__item {
  background-color: var(--dark-mode-modal);
  color: wheat;
}
.dark-modal-image-card-text {
  color: aliceblue;
}
.team__item .dark-modal-description{
  color: var(--main-background-color);
}

.team__item .dark-modal-developer{
color: var(--btn-hover-background);
}