body {
  background-color: var(--main-background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-body {
  background-color: var(--dark-mode-body);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.dark-footer {
  background-color: var(--dark-mode-footer);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-modal {
  background-color: var(--dark-mode-modal);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.dark-mode-icon_style {
  fill: #ffffff;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}