.film-modal__backdrop {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  overflow-y: scroll;
  background-color: var(--backdrop-modal-color);
  transition: visibility var(--duration) var(--cubic), opacity var(--duration) var(--cubic);

  @media screen and (min-width: 320px) {
    padding: 0 20px;
  }
  @media screen and (min-width: 768px) {
    padding: 0 32px;
  }
  @media screen and (min-width: 1024px) {
    padding: 0px 98px 0px 112px;
  }
}

.film-modal__btn-close {
  position: absolute;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  stroke: #000000;
  background-color: transparent;
  border: none;
}

.film-modal__content {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 940px;
  height: 100%;
  overflow-y: auto;
  width: 100%;
  background-color: var(--main-background-color);
  transform: translate(-50%, -50%) scale(1);
  @media screen and (min-width: 320px) {
    width: 280px;
    padding: 48px 20px 40px 20px;
  }
  @media screen and (min-width: 768px) {
    width: 704px;
    max-height: 552px;
    padding: 40px 72px 40px 36px;

    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: 1024px) {
    width: 814px;
    max-height: 558px;
    padding: 40px 16px;
  }
}

.film-modal__image {
  max-width: 240px;
  max-height: 357px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    max-width: 264px;
  }
  @media screen and (min-width: 1024px) {
    max-width: 375px;
  }
}

.film-modal__information {
  max-width: 264px;
  @media screen and (min-width: 1024px) {
    max-width: 391px;
  }
}

.film-modal__title {
  margin-bottom: 20px;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--main-text-color);

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1024px) {
    font-size: 30px;
    line-height: 1.16;
  }
}

.film-modal__list {
  margin-bottom: 20px;
  min-width: 215px;
}

.film-modal__item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.film-modal__feature {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  flex-shrink: 0;
  color: var(--modal-secondary-text-color);
}

.film-modal__feature-info {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33px;
  flex-shrink: 0;
}

.film-modal__vote {
  padding: 1px 10px;
  border-radius: 5px;

  line-height: 1.16;
  color: #ffffff;
  background-color: var(--btn-hover-background);
}

.film-modal__line {
  margin: 0 2px;
  color: #8c8c8c;
}

.film-modal__votes {
  padding: 1px 4px;
  border-radius: 5px;

  line-height: 1.16;
  background-color: #f7f7f7;
}

.film-modal__about {
  margin-bottom: 8px;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

.film-modal__text {
  margin-bottom: 20px;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: var(--main-text-color);

  overflow-y: scroll;
}
