.film-modal__backdrop {
  // box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;

  overflow-y: auto;

  background-color: var(--backdrop-modal-color);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.film-modal__btn-close {
  position: absolute;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  stroke: #000000;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--btn-hover-background);
    stroke: #f7f7f7;
  }
}

.film-modal__content {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;

  max-height: 940px;
  height: 100%;
  width: 100%;
  padding: 15px;

  overflow-y: auto;
  background-color: var(--main-background-color);
  transform: translate(-50%, -50%) scale(1);

  @media screen and (min-width: 320px) {
    width: 280px;
    padding: 48px 20px 40px 20px;
  }
  @media screen and (min-width: 768px) {
    width: 704px;
    max-height: 552px;
    padding: 40px 72px 40px 36px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 68px;
  }
  @media screen and (min-width: 1024px) {
    width: 814px;
    max-height: 558px;
    padding: 40px 16px;

    grid-template-columns: 375px 1fr;
    column-gap: 16px;
  }
}

.film-modal__image {
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  width: 100%;
  object-fit: cover;
  object-position: 50% 60%;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1024px) {
    max-height: 478px;
    margin-bottom: 0;
  }
}

.film-modal__information {
  @media screen and (min-width: 1024px) {
    max-width: 391px;
  }
}

.film-modal__title {
  margin-bottom: 20px;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--main-text-color);

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1024px) {
    font-size: 30px;
    line-height: 1.16;
  }
}

.film-modal__property-container {
  margin-bottom: 20px;
}

.film-modal__property {
  display: grid;
  grid-template-columns: 70px 1fr;
  column-gap: 40px;
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: 1024px) {
    column-gap: 83px;
  }
}

.film-modal__property-name {
  margin: 0;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  color: var(--modal-secondary-text-color);
}

.film-modal__property-value {
  margin: 0;
  justify-items: flex-start;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.film-modal__vote {
  padding: 1px 10px;
  border-radius: 5px;

  line-height: 1.16;
  color: #ffffff;
  background-color: var(--btn-hover-background);
}

.film-modal__line {
  margin: 0 3px;
  color: var(--modal-secondary-text-color);
}

.film-modal__votes {
  padding: 1px 4px;
  border-radius: 5px;

  line-height: 1.16;
  background-color: #f7f7f7;
}

.film-modal__about {
  margin-bottom: 8px;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

.film-modal__text {
  max-height: 245px;
  margin-bottom: 20px;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: var(--main-text-color);

  overflow-y: auto;

  @media screen and (min-width: 768px) {
    margin-bottom: 34px;
  }

  @media screen and (min-width: 1024px) {
    max-height: 165px;
    margin-bottom: 20px;
  }
}

.film-modal__buttons-list {
  display: flex;
}

.film-modal__buttons-item {
  &:not(:last-child) {
    margin-right: 20px;
  }

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  @media screen and (min-width: 1024px) {
    &:first-child {
      margin-left: 8px;
    }
  }
}
