.filter {
  position: relative;
  width: 100%;
}
.filter__primaryText {
  display: inline-block;
  position: relative;
  z-index: 1;

  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  font-style: normal;

  display: flex;
  align-items: center;
  justify-content: end;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &--active {
    color: var(--secondary-text-color);
  }
}
.filter__btn {
  border: none;
  background-color: inherit;
  height: 16px;
  margin-right: 5px;
}

.filter__svg {
  fill: var(--main-text-color);
  .filter__primaryText--active & {
    fill: var(--secondary-text-color);
  }
}

.filter__body {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  display: inline-block;
  width: 100%;

  padding: 5px 0;
  z-index: 3;
  transform: translateY(20%);
  opacity: 1;
  //max-height: 400px;

  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 600ms cubic-bezier(0.4, 0, 0.2, 1), visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 767px) {
    transform: translateY(10%);
  }
  &.is-hidden {
    //height: 0;
    //max-height: 0;
    opacity: 0;
    overflow: hidden;

    transform: translateY(0);
  }
}
.filter__content {
  // width: 100%;
  //box-sizing: border-box;
  background-color: #1f1b2e;
  padding: 16px;
  border-radius: 6px;
  color: var(--main-background-color);
}

.filter__list {
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.filter__clear {
  display: inline-flex;
  align-items: center;
  color: var(--main-background-color);

  &:hover,
  &:focus {
    color: var(--secondary-text-color);
    cursor: pointer;
  }
  &--notActive {
    pointer-events: none;

    color: var(--footer-text-color);
  }
}

.filter__iconClear {
  stroke: var(--main-background-color);
  .filter__clear:hover &,
  .filter__clear:focus & {
    stroke: var(--secondary-text-color);
    cursor: pointer;
  }
  .filter__clear--notActive & {
    pointer-events: none;

    stroke: var(--footer-text-color);
  }
}
