.filter {
  position: relative;
  width: 100%;
}
.filter__primaryText {
  display: inline-block;
  position: relative;
  z-index: 1;

  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  font-style: normal;

  display: flex;
  align-items: center;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &--active {
    color: var(--secondary-text-color);
  }
}
.filter__btn {
  border: none;
  background-color: inherit;
  height: 16px;
  margin-right: 5px;
}

.filter__body {
  position: absolute;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px;
  z-index: 3;
  transform: translateY(0);
  opacity: 1;
  //max-height: 400px;

  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 600ms cubic-bezier(0.4, 0, 0.2, 1), visibility 600ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    //height: 0;
    //max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-50%);
  }
}
.filter__content {
  // width: 100%;
  //box-sizing: border-box;
  background-color: #1f1b2e;
  padding: 16px;
  border-radius: 6px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}
