.btn {
  background-color: transparent;
  cursor: pointer;
}

// ===================== HEADER =======================
.header__container {
  position: relative;
}
.header {
  min-height: 230px;
  padding-top: 46px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/header/header-light/mob-background-home.webp');

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/header-light/tab-background-home.webp');
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/header-light/desk-background-home.webp');
    max-width: 1024px;
  }
}
.header--library {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/header/header-light/header-light-mobile@2x.webp');

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/header-light/header-light-tablet@2x.webp');
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/header-light/header-light-desktop@2x.webp');
  }
}

.btn {
  background-color: transparent;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-btn {
  --animate-duration: 1.25s;
}

.logo-text {
  margin-left: 10px;

  color: var(--main-background-color);
  font-size: 30px;
  line-height: calc(35 / 30);

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__list {
  display: flex;
}

.nav__item:last-child {
  margin-left: 39px;
}

.nav__btn,
.library__btn {
  color: var(--main-background-color);
  font-size: 12px;
  line-height: calc(14 / 12);
  text-transform: uppercase;
}

.logo-btn,
.nav__btn,
.form__btn {
  padding: 0;

  border: 0;
}

.nav__btn {
  transform: scale(1);
  transition: transform linear 250ms;
}

.nav__btn::after {
  content: '';

  position: absolute;

  display: block;

  height: 3px;
  width: 100%;

  background-color: var(--btn-hover-background);

  transform: scale(0);
  opacity: 0;
  transition: transform linear 350ms, opacity linear 250ms;
}

.nav__btn:hover::after {
  transform: scale(1);
  opacity: 0.5;
}
.nav__btn--currently::after {
  transform: scale(1);
  opacity: 1;
}

.nav__btn--currently:hover::after {
  opacity: 1;
}

// =========================== Форма =========================

.form {
  margin-top: 40px;
}

.form__inner {
  display: flex;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    max-width: 336px;
  }
}

.form__input {
  width: 100%;
  padding-right: 20px;
  background: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 0.5px solid var(--main-background-color);
  outline: 0;
}

.form__input,
.form__input::placeholder {
  padding-bottom: 4px;

  color: var(--main-background-color);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
}

.form__btn {
  margin-left: -12px;
  right: 0;
  height: 100%;
  text-align: center;
  transition: transform linear 200ms;

  &:hover {
    transform: scale(1.15);
  }
}
.library {
  display: flex;
  justify-content: center;

  margin-top: 50px;
}
.library_button {
  padding-top: 14px;
  padding-bottom: 14px;
  width: 130px;

  border: 1px solid #ffffff;
  border-radius: 5px;

  transition: transform linear 250ms;

  &:hover {
    transform: scale(1.025);
  }

  @media screen and (min-width: 768px) {
    width: 136px;
  }
}

.library_button:last-child {
  margin-left: 20px;
}

.library__btn--currently {
  border: 0;
  background-color: var(--secondary-text-color);

  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);

  transition: background-color linear 250ms, box-shadow linear 250ms, transform linear 250ms;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.animate__animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate__flip {
  animation-name: flip;
  animation-duration: 1s;
}

@keyframes flip {
  from {
    -webkit-transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.checkbox-container {
  position: absolute;
    top: -30px;
      right: 50px;
  fill: var(--btn-hover-background);
  display: flex;
  justify-content: end;

    @media screen and (min-width: 320px) {
        right: 40px;

          @media screen and (min-width: 768px) {
              right: 50px;

               
          }
    }
  }
.dark-mode-icon {
  transition: transform linear 500ms;
  }


