.section-slider {

    display: flex;
    padding-top: 5px;

    @media screen and (max-width: 767px) {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        position: absolute;
    }
}
.slider__swiper {
  width: 100%;
}

.slider-item {
  width: 140px;
}

.slider-link {
  height: 100%;
}

.slider-image {
  border-radius: 5px;

  object-fit: cover;
  width: 100%;
}
